<div class="col-md-8 col-centered">
  <h2 style="text-align:center">DJK贴吧</h2>
  <%= link_to('新增帖子', new_topic_path, class: "btn btn-sm btn-default pull-right") %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th >操作选项</th>
      </tr>
    </thead>

    <tbody>
      <% @topics.each do |topic| %>
        <tr>
          <td><%= link_to(topic.title, topic_path(topic)) %></td>
          <td><%= topic.description %></td>
          <td>
            <% if current_user && current_user == topic.user %>
              <%= link_to 'Edit', edit_topic_path(topic), class: "btn btn-sm btn-default" %>
              <%= link_to 'Destroy', topic, class: "btn btn-sm btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
