<!DOCTYPE html>
<html>
  <head>
    <title>Tieba</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <ul>
        <li><%= link_to '更新个人资料', edit_user_registration_path, :class => 'navbar-link' %></li>
        <li><%= link_to "登出", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
      </ul>
      <% else %>
      <ul>
        <li><%= link_to "注册", new_user_registration_path, :class => 'navbar-link'  %></li>
        <li><%= link_to "登录", new_user_session_path, :class => 'navbar-link'  %></li>
      </ul>
    <% end %>

    <%= yield %>
  </body>
</html>
